.btn-primary {
  background: $charcoal;
  color: $white;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: .5s ease;
  &:hover {
    background: lighten($charcoal, 5%);
    text-decoration: none;
  }
}

.img-responsive {
  width: 100%;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
