.tools-hero__img {
  background: $maroon;
  padding: 50px 100px 0 50px;
}

.tools-hero {
  border-left: 15px solid $maroon;
}

.tools-hero__text {
  padding: 25% 50px 0 100px;
}

.tools-hero__screen {
  margin-bottom: -50px;
}
