.statistics {
  padding: 200px;
}

.statistics__title {
  padding-bottom: 100px;
}

.statistics__number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 75px;
}

.statistics__label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
