.tool-summary {
  padding: 0 100px;
}

.tool-summary__list {
  font-family: 'Cairo', sans-serif;
  line-height: 2em;
  list-style-type: square;
  padding: 25px 0 25px 20px;
}

.testimonial-block {
  padding: 200px 0;
}
